body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* commmon */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    padding: 24px 0;
    margin-right: 76px;

}

.logo .logo-part {
    color: #4d5ae5;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
 
.address-list {
display: flex;
gap: 40px;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    padding: 24px 0;
}

.main-section-title {
    background-color: #2e2f42;
    padding: 188px 0;
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
}


.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin: 0 auto;
}

.main-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    min-width: 169px;
    margin: 0 auto;
}

.main-button:hover,
.main-button:focus {
background: #404bbf;
}

.visually-hidden { 
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    margin-top: 120px;
    margin-bottom: 120px;
    
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.main-section-features {
    padding: 120px 0;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 400;
}

.section-title-team {
    text-align: center;
    margin-bottom: 72px;
}

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-item {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-vocation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 32px;
}
 
.portfolio-section {
    padding: 120px 0 120px 0;
    text-align: center;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-bottom: 100px;
    max-width: 264px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo .footer-logo-part {
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}